.animal1{
    width: 350px;
    float: right;
    border: 3px solid pink;
    padding: 8px;
    margin: 22px;
    background-color: salmon;
}
.animal2{
    width: 350px;
    float: right;
    border: 3px solid pink;
    padding: 8px;
    margin: 22px;
    background-color: salmon;
}
.animal3{
    width: 350px;
    float: right;
    border: 3px solid pink;
    padding: 8px;
    margin: 22px;
    background-color: salmon;
}
